services:
  redis:
    image: redis:8.4-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  click-worker:
    build:
      context: ..
      args:
        NODE_ENV: development
    command: npm run dev
    volumes:
      - ../:/app
    ports:
      - "3000:3000"
    environment:
      NATS_SERVER: nats://nats:4222
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      nats:
        condition: service_healthy
      nats-setup:
        condition: service_healthy

  nats:
    image: nats:2.12.2-alpine
    command: -js -m 8222 -sd /data/jetstream
    ports:
      - "4222:4222"
      - "8222:8222"
    volumes:
      - nats-data:/data/jetstream
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:8222/healthz"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  nats-setup:
    image: natsio/nats-box:0.19.2
    depends_on:
      nats:
        condition: service_healthy
    volumes:
      - ./nats-setup.sh:/nats-setup.sh
    environment:
      NATS_STREAM_NAME: CLICKS
      NATS_SUBJECTS: "click.*"
      NATS_SERVER: "nats:4222"
    entrypoint: [ "/bin/sh", "/nats-setup.sh" ]
    healthcheck:
      test: [ "CMD", "test", "-f", "/tmp/stream_ready" ]
      interval: 3s
      timeout: 2s
      retries: 20
