name: Pull request

permissions:
  contents: write
  packages: write

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize

jobs:
  linter-and-tests:
    uses: ./.github/workflows/tests.yaml
    secrets:
      CLIPLINK_PACKAGES_TOKEN: ${{ secrets.CLIPLINK_PACKAGES_TOKEN }}
